
.loading-container {
	width: 85%;
	height: 80%;
	padding: 5%;
	margin: 0px auto;
	border-radius: 5%;
	background: rgba(255,255,255,0.6);
	border: 1px solid #eee;
}

.loading-container .loading-bar {
	margin-bottom: 10%;
}
.loading-bar {
	width: 92%;
	margin: 0px auto;
	height: 40%;
	border-radius: 5%;
	background-color: #282f32;
	padding: 4px 5px;
	box-shadow: inset 5% 0 35% rgba(0,0,0,0.1);
}

.loading-amount {
	/* we haven't included the colour yet, we'll get to that later. */
	height: 104%;
	border-radius: 3px;
	white-space: nowrap;
	overflow: hidden;
	margin-top: -6px;
}

.loading-lines {
	/* the lines overflow the container. This creates a continuous flow of the background */
	width: 200%;
	/* We use a SVG file as the background */
	background: url('../svg/lines.svg') repeat-x;
	height: 120%;
	text-align: center;
	margin-top: -15px;
	/* Any overflow is hidden */
	overflow: hidden;
	border-radius: 50%;
	/* Implement the animations, we'll get to that later */
	-webkit-animation: moveBars 1s linear infinite;
	-moz-animation: moveBars 1s linear infinite;
	-ms-animation: moveBars 1s linear infinite;
	-o-animation: moveBars 1s linear infinite;
	animation: moveBars 1s linear infinite;
	font-weight: bold;
	color: #fff;
	font-size: 90%;
	text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

.loading-loaded {
	text-align: center;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	top: 9%;
	font-size: 90%;
	text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	color: #fff;
	z-index: 9999;
}

.green {
	background-color: #8ac320;
	box-shadow: inset 0 95% 95% rgba(255,255,255,0.2), 0 95% 95% -5% #79aa1e , 0 95% 0 #628c14;
}


#loading {
	z-index: 1;
	padding: 4% 4% 4% 4%;
	left: 0;
	top: 0;
	width: 95%;
	position: fixed;
	height: 30%;
}



/* ANIMATIONS */
@keyframes moveBars { 100% { margin-left: -180px; } }
@-webkit-keyframes moveBars { 100% { margin-left: -180px; } }
@-moz-keyframes moveBars { 100% { margin-left: -180px; } }
@-ms-keyframes moveBars { 100% { margin-left: -180px; } }
@-o-keyframes moveBars { 100% { margin-left: -180px; } }




/* ------- IGNORE 

#header {
	width: 100%;
	margin: 0px auto;
}

#header #center {
	text-align: center;
}

#header h1 span {
	color: #000;
	display: block;
	font-size: 50px;
}

#header p {
	font-family: 'Georgia', serif;
}
#header h1 {
	color: #892dbf;
	font: bold 40px 'Bree Serif', serif;
}

#travel {
	padding: 10px;
	background: rgba(0,0,0,0.6);
	border-bottom: 2px solid rgba(0,0,0,0.2);
	font-variant: normal;
	margin-bottom: 40px;
	text-decoration: none;
}

#travel a {
	font-family: 'Georgia', serif;
	text-decoration: none;
	border-bottom: 1px solid #f9f9f9;
	color: #f9f9f9;
}
*/